@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,700&display=swap");

:root {
    --green: #27ac60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: all 0.2s linear;
}

/* Funda of web it start */
/* Product Card */
.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a {
    text-decoration: none;
}
.product-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img {
    width: 100%;
}
.product-card .product-card-body {
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}
/* Product Card End */

.main-navbar {
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar {
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
    color: #fff;
}
.main-navbar .top-navbar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar {
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

/* Category Start */
.category-card {
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}
.category-card a {
    text-decoration: none;
}
.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.category-card .category-card-body {
    padding: 10px 16px;
}
.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
/* Category End */
.colorSelected {
    color: #000;
    padding: 2px 100px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.colorSelected:active {
    background-color: #fff;
    border: 2px solid #000;
}
.product_card {
    font-size: 16px !important;
}
.product-view .product-name {
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path {
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover {
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
/* Product View */

/* Cart or Wishlist */
.shopping-cart .cart-header {
    padding: 10px;
}
.shopping-cart .cart-header h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a {
    text-decoration: none;
}
.shopping-cart .cart-item {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .btn1:hover {
    background-color: #2874f0;
    color: #fff;
}
.shopping-cart .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}
/* Cart or Wishlist */
.checkout .form-control {
    border-radius: 0px !important;
}
.checkout .form-control:focus {
    border: 1px solid #000 !important;
    box-shadow: none !important;
}
.checkout .nav-link {
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
}
.checkout .tab-content {
    padding-right: 10px;
}

/* //footer */
.footer-area {
    padding: 40px 0px;
    background-color: #2874f0;
    color: #fff;
}
.footer-area a {
    text-decoration: none;
}
.footer-area .footer-heading {
    font-size: 24px;
    color: #fff;
}
.footer-area .footer-underline {
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area {
    padding: 14px 0px;
    background-color: #262626;
}
.copyright-area p {
    margin-bottom: 0px;
    color: #fff;
}
.copyright-area .social-media {
    text-align: end;
}
.copyright-area .social-media a {
    margin: 0px 10px;
    color: #fff;
    width: 20px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}

/* Funda of web it styles end */

html {
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
section {
    padding: 1rem 9%;
}

section:nth-child(even) {
    background: #eee;
}
/* .btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
} */
/* .btn:hover {
    background: blue;
    letter-spacing: 0.1rem;
} */
.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i {
    color: var(--green);
}
header .logo img {
    width: 8rem;
    height: 6rem;
}
header .logo img p {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: rgb(25, 160, 205);
}
header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}
header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: blue;
    transform: rotate(360deg);
}
header .icons #menu-bars {
    display: none;
}
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active {
    top: 0;
}
#search-form #search-box {
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::placeholder {
    color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover {
    color: var(--green);
}
#search-form #close {
    position: absolute;
    color: #fff;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 5rem;
}
.home .home-slider .slide .content {
    flex: 1 1 42rem;
}
.home .home-slider .slide .image {
    flex: 1 1 42rem;
}
.home .home-slider .slide .image img {
    width: 100%;
    border: none;
}
.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 2rem;
}
.home .home-slider .slide .content p {
    color: var(--light-blue);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}
.swiper-pagination-bullet-active {
    background: var(--green);
}
.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}
.dishes .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}
.dishes .box-container .box .fa-heart {
    right: -15rem;
}
.dishes .box-container .box .fa-eye {
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart {
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye {
    left: 1.5rem;
}
.dishes .box-container .box img {
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box {
    color: var(--black);
}
.dishes .box-container .box .stars {
    padding: 1rem 0;
}
.dishes .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}
.dishes .box-container .box span {
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image {
    flex: 1 1 40rem;
}
.about .row .image img {
    width: 100%;
}
.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 2;
}
.about .row .content h3 {
    color: var(--green);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 2;
}
.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem;
}
.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}
.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box {
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.menu .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}
.menu .box-container .box .image .fa-heart {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}
.menu .box-container .box .image .fa-heart:hover {
    background-color: var(--green);
    color: #fff;
}
.menu .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}
.menu .box-container .box .content .stars {
    padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--green);
}
.menu .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}
.menu .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}
.menu .box-container .box .content .price {
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.3rem;
    font-weight: bolder;
}
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
    justify-content: center;
    align-items: center;
}
.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.review .slide .user i {
    font-size: 1.3rem;
    color: var(--green);
}
.review .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}
.order form {
    max-width: 90rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 1.5rem;
    margin: auto;
}
.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input {
    width: 49%;
}
.order form .inputBox .input span {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
    border: 0.1rem solid var(--green);
}
.order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}
.order form .btn {
    margin-top: 0;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3 {
    padding: 0.5rem 0;
    font-size: 1.8rem;
    color: var(--black);
}
.footer .box-container .box a {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    color: black;
}
.footer .box-container .box a:hover {
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
}
.footer .credit {
    text-align: center;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: black;
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .credit span {
    color: blue;
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img {
    width: 35rem;
}
.loader-container.fade-out {
    top: 110%;
    opacity: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(237, 242, 246);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
.flex-container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.flex-container .row .image {
    margin: 7px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}
.flex-container .row .image .description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container .row .image > img {
    display: flex;
    background-color: #f5eeee;
    width: 300px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
select {
    background: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}
.inputBox {
    padding-top: 2rem;
}
.maps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.maps-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.maps-container .row .header span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: darkslategray;
    font-weight: bold;
    padding-right: 30px;
}
.maps-container .row .map {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding: 20px;
}

@media (max-width: 445px) {
    .maps-container .row .header span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }
    .maps-container .row .map {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .maps-container .row .map iframe {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 1rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }
}

@media (max-width: 991px) {
    .dishes .box-container .box img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 445px) {
    .dishes .box-container .box img {
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input {
        width: 100%;
    }
}
